node_modules
.next
.DS_Store
deploy.tar.gz

.env.local
remote_deploy.sh
remote_fix_uploads.sh
remote_nginx_ssl.sh
fix_nginx.sh

out/
fix_nginx.sh
remote_fix_uploads.sh
remote_nginx_ssl.sh
remote_deploy.sh
.env.local
tsconfig.tsbuildinfo
